# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv

# Import API key
from config1 import g_key

In [2]:
g_key

'AIzaSyCr7QCYXFTSmnIi_A0fY8DiQJf6jyQp-nc'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
#export weather_data dataframe from weatherpy

df = pd.read_csv('../Starter_code/weather_data.csv')
df.head(10)

,City,Cloudiness,Countries,Temp,Humidity,Wind Speed,Lat,Lng
0,Rikitea,100,PF,77.07,84,10.63,-23.12,-134.97
1,Souillac,20,MU,71.60,88,3.36,-20.52,57.52
2,Shīeli,91,KZ,69.49,41,8.59,44.17,66.75
3,Lebu,96,CL,57.94,96,6.49,-37.62,-73.65
4,Pisco,4,PE,68.00,77,9.17,-13.70,-76.22
5,Belaya Gora,9,RU,37.02,79,7.87,68.53,146.42
6,Busselton,100,AU,51.01,56,6.51,-33.65,115.33
7,Jamestown,1,US,66.99,45,5.82,42.10,-79.24
8,Egvekinot,11,RU,28.24,96,14.36,66.32,-179.17
9,San Cristobal,20,VE,93.20,34,20.80,7.77,-72.22

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#configure gmpas using api key

gmaps.configure(api_key=g_key)

In [5]:
g_key

'AIzaSyCr7QCYXFTSmnIi_A0fY8DiQJf6jyQp-nc'

In [6]:
#use lat and lng as locations and humidity as weight
Locations = df[["Lat", "Lng"]]

Humidity = df["Humidity"]

df = df.dropna()

print(len(Humidity))

print(len(Locations))

94
94

In [7]:
#figure to plot heatmaps

fig = gmaps.figure()

#now add heatlayer to map

heat_layer = gmaps.heatmap_layer(Locations, weights=Humidity)

fig.add_layer(heat_layer)

#display heat layer figure

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
#create new dataframe

new_dataframe = pd.DataFrame(df,
                            columns = ["City", "Cloudiness", "Wind Speed", "Max Temp"])

cloudiness = new_dataframe["Cloudiness"] == 0

wind_speed = new_dataframe["Wind Speed"] < 10

max_temp = new_dataframe["Max Temp"] <= 80 & (new_dataframe["Max Temp"] > 70)

new_dataframe

         City  Cloudiness  Wind Speed  Max Temp
0     Rikitea         100       10.63       NaN
1    Souillac          20        3.36       NaN
2      Shīeli          91        8.59       NaN
3        Lebu          96        6.49       NaN
4       Pisco           4        9.17       NaN
..        ...         ...         ...       ...
89  Fairbanks          40       13.87       NaN
90   Berlevåg         100        9.91       NaN
91     Atuona           6       16.53       NaN
92    Iqaluit          40        5.82       NaN
93     Bethel           1        4.70       NaN

[94 rows x 4 columns]

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
#store a variable named hotel_df

hotel_df = pd.DataFrame(df, columns=["City", "Country", "Lat", "Lng"])

hotel_df["Hotel Name"] = ""

hotel_df

         City  Country    Lat     Lng Hotel Name
0     Rikitea      NaN -23.12 -134.97
1    Souillac      NaN -20.52   57.52
2      Shīeli      NaN  44.17   66.75
3        Lebu      NaN -37.62  -73.65
4       Pisco      NaN -13.70  -76.22
..        ...      ...    ...     ...        ...
89  Fairbanks      NaN  64.84 -147.72
90   Berlevåg      NaN  70.86   29.09
91     Atuona      NaN  -9.80 -139.03
92    Iqaluit      NaN  63.75  -68.51
93     Bethel      NaN  41.37  -73.41

[94 rows x 5 columns]

In [10]:
#now look for target

coordinates = f"{hotel_df['Lat'][0]},{hotel_df['Lng'][0]}"

search = "hotel"

radius = 5000

type = "hotel"

#form a dictionary of parameters

params = {"location": coordinates, "keyword": search, "radius": radius, "type": type, "key": g_key}

#make call

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


response = requests.get(base_url, params=params).json()
results = response['results']

        
hotel_df.loc[0][0]

'Rikitea'

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer ontop of heat map
#add marker
marker = gmaps.marker_layer(locations)

# Display figure

fig.add_layer(marker)
fig

Figure(layout=FigureLayout(height='420px'))